.card-body___img {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-avatar {
  object-fit: contain;
  height: 3rem;
  /* display: inline-block; */
}
.username {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.username-link {
  text-decoration: none;
}

.username-link:hover {
  text-decoration: none;
}
